<h1> add a link </h1>
<form action="/links" method="post">
  <input type="text" name="url"><br>
  <input type="text" name="title"><br>
  <input type="text" name="tags"><br>
  <input type="submit" value="add link" >
</form>
